<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Oi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav>
      <a href="/index">Início</a>
      <a href="/contato">Contato</a>
      {% if usuario %}
        <a href="/logout">Logout</a>
      {% endif %}
    </nav>

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <div class="mensagens-flash">
        {% for msg in mensagens %}
          <p>{{ msg }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% block conteudo %}{% endblock %}

    <h6>Copyright © 2025</h6>

    <!-- Referência ao arquivo JavaScript -->
    <script src="{{ url_for('static', filename='js/script1.js') }}"> </script>
  </body>
</html>
