{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block conteudo %}
<div class="form-imagem">
  <img src="{{ url_for('static', filename='img/loginspooky.png') }}" alt="Login" class="imagem-form">

  <form action="/autenticar" method="POST" onsubmit="return validarSenha()">
    <label for="nome_usuario">E-mail:</label>
    <input type="email" id="nome_usuario" name="nome_usuario" required oninput="verificarDigitacao(event)">

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <button type="submit">Entrar</button>
  </form>

  <form action="/novocadastro" method="POST" style="margin-top:15px;">
    <input type="hidden" name="nome_usuario" id="nome_usuario_cadastro">
    <p>Não possui uma conta?</p>
    <button type="submit">Cadastrar</button>
  </form>
</div>
{% endblock %}
